*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app/src/main/assets/movements.json
/app/src/main/java/master/training/reminder_demo/other
/app/src/main/res/values/dimens.xml
/app/src/main/res/anim

